html, body{
    height: 100%;
}
div{
    margin: 0;
}
div.App{
    width: 100%;
    height: 100vh;
    background: #202746;
    font-size: 1.2em;
    color: #979db4;
}

div.waiting{
    background: #475E89;
    height: 100%;   
}

div.gameID{
    text-align: center;
    margin-top: 35px;
    font-size: 34px;
}

.typer-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.typer-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}

h1.homeName{
    font-family: Helvetica;
    font-size: 160px;
    color: #670B17;
    text-align: center;
    position: relative;
    margin-top: 0;
    padding: 20px 0 0 0;
}

h1.homeName:hover{
    text-shadow: 16px 0px 70px rgba(85, 0, 0, 0.952);
}

h3.cGame{
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 0;
    position: relative;
    background-color: transparent;
}

div.btnDIV{
    justify-content: center;
    display: flex;
}

div.btnDIV2{
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100%;
}

.inBox{
    flex-shrink: 1;
    margin: 9% 40% 0 40%;
}

.btnJoin2{
    flex-shrink: 1;
    margin-left: auto;
    margin-right: auto;
}
button.btnStart{ 
    margin-top: 9%;
    flex-shrink: 1;
}

button{
    display: inline-block;
    height: 20%;
    width: 45%;
    margin: 2%;
    margin-top: 15%;
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 25px;
    background: #00B0D3;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover{
    background: #670B17;
    text-decoration: none;
}

button.btnCre{
    float: left;
}

button.btnJoin{
    float: right;
}