@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Bold'), url(./BebasNeue-Bold.woff2) format('woff2');
}

html, body{
    height: 100%;
    background: #202746;
}
div{
    margin: 0;
}
div.App{
    width: 100%;
    height: 100vh;
    background: #202746;
    font-size: 1.2em;
    color: #979db4;
}

div.waiting{
    background: #475E89;
    height: 100%;   
}

div.gameID{
    text-align: center;
    margin-top: 35px;
    font-size: 34px;
}

.typers {
    position: relative;
}

.typer-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.typer-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}

.header{
    text-align: center;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 0 0 0;
}
.header img{
    max-width: 75%;
}

h1.homeName:hover{
    text-shadow: 16px 0px 70px rgba(85, 0, 0, 0.952);
}

h3.cGame{
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 0;
    position: relative;
    background-color: transparent;
}

div.btnDIV{
    justify-content: center;
    display: flex;
}

div.btnDIV2{
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100%;
}

.inBox{
    flex-shrink: 1;
    margin: 9% 40% 0 40%;
}

.btnJoin2{
    flex-shrink: 1;
    margin-left: auto;
    margin-right: auto;
}
button.btnStart{ 
    margin-top: 9%;
    flex-shrink: 1;
}

button{
    display: inline-block;
    height: 20%;
    width: 45%;
    margin: 2%;
    margin-top: 15%;
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    radius: 7px;
    border: none;
    font-family: 'Bebas Neue', 'Helvetica', sans-serif;
    font-wight: bold;
    color: #ffffff;
    font-size: 36px;
    background: #00B0D3;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:disabled {
    background:  #555555;
    color: #999;
}
button:hover:enabled{
    background: #670B17;
    text-decoration: none;
}

button.btnCre{
    float: left;
}

button.btnJoin{
    float: right;
}

.score {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.finalscore{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.score-container {
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.score-container h4 {
}